@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed&family=Roboto:wght@400;500;700&display=swap");

@mixin link() {
  color: var(--secondary-dark);
  cursor: pointer;
  text-underline-offset: 1px;

  &:hover {
    color: var(--secondary);
  }

  &:active {
    filter: opacity(0.8);
  }
}

a {
  @include link();
}

@mixin shadow() {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@mixin rounded() {
  border-radius: 5px;
}

@mixin bordered() {
  border: 1px solid var(--default-border);
}

@mixin base-block() {
  @include shadow();
  @include rounded();
  @include bordered();
  background-color: var(--base-bgr);
  color: var(--font-main);
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.half-bold {
  font-weight: 500;
}

.card {
  @include shadow();
}

.btn {
  @include rounded();
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.theme-switcher {
  &__btn {
    align-items: center;
    display: flex;

    flex-direction: row;
    opacity: 0.7;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__icon {
    margin-left: 1rem;

    @media screen and (max-width: 600px) {
      margin-left: 0.5rem;
    }
  }
}

.cities {
  align-content: flex-start;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.city {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    flex: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  &__name-native {
    color: var(--primary-light);
    font: normal 1.2rem "Lora", serif;
  }

  &__location {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative;
    text-align: right;

    .modal {
      @include base-block();
      border: none;
      top: 100%;
      display: block;
      height: 0;
      margin-top: 0.5rem;
      overflow: hidden;
      overflow-wrap: break-word;
      position: absolute;
      right: 0;
      text-align: center;
      text-overflow: ellipsis;
      transform: scale(0);
      width: 0;
      width: 100%;
      z-index: 10;

      &--active {
        height: auto;
        width: auto;
        transform: scale(1);
        transition: transform 0.2s ease-in-out;
      } 

      &__header {
        background-color: var(--primary);
        border-radius: 5px 5px 0 0;
        color: var(--font-contrast);
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
      }

      &__title {
        font-weight: 500;
        font-size: 1rem;
        margin: 0;
      }

      &__close-button {
        color: inherit;
        display: inline-block;
        font-size: 1rem;
        vertical-align: bottom;
      }

      &__content {
        border: 1px solid var(--default-border);
        font-size: 1rem;
        font-weight: normal;
        padding: 1rem;
      }
    }
  }

  &__location-marker {
    @include link();
    display: inline-block;
    margin: 0 0.2rem;
    transition: transform 0.3s ease-in;

    &:hover {
      transform: scale(1.3);
    }

    i {
      font-size: 1.3rem;
    }
  }

  &-coords {
    background-color: lemonchiffon;
    border: 1px solid #999;
    color: black;
    font: normal 0.9rem "Courier new", monospace;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.3rem;
    white-space: nowrap;
    width: 100%;

    &__city-name {
      white-space: nowrap;
    }
  }

  &__info {
    @include base-block();
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 1rem;
    text-align: left;
    flex-grow: 1;

    dl {
      margin: 0;
    }

    dt {
      font-weight: 500;
    }

    dd {
      padding-right: 0.5rem;
    }

    dt,
    dd {
      display: inline-block;
      margin: 0;
      margin-bottom: 1rem;
    }
  }

  &__landmarks {
    dt {
      margin-bottom: 0.5rem;
    }

    dd {
      display: block;
      padding-right: 0;
    }

    &-list {
      list-style: none;
      padding: 0;
    }

    li {
      align-items: flex-start;
      display: flex;
      padding: 0.3rem;
    }

    .marker-star {
      color: var(--secondary-dark);
      display: inline-block;
      font-size: 0.8rem;
      margin-right: 1rem;
      margin-top: 0.2rem;

      &--active {
        animation: rotate 1.5s ease-in-out;
      }
    }

    @keyframes rotate {
      15%,
      85% {
        color: gold;
      }

      50% {
        transform: rotate(180deg);
      }
    }
  }
}
