@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed&family=Roboto:wght@400;500;700&display=swap");
a {
  color: var(--secondary-dark);
  cursor: pointer;
  text-underline-offset: 1px;
}
a:hover {
  color: var(--secondary);
}
a:active {
  filter: opacity(0.8);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.half-bold {
  font-weight: 500;
}

.card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 5px;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.theme-switcher__btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  opacity: 0.7;
}
.theme-switcher__btn:hover {
  opacity: 0.9;
}
.theme-switcher__btn:active {
  opacity: 0.5;
}
.theme-switcher__icon {
  margin-left: 1rem;
}
@media screen and (max-width: 600px) {
  .theme-switcher__icon {
    margin-left: 0.5rem;
  }
}

.cities {
  align-content: flex-start;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.city {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.city__header {
  flex: none;
}
.city__content {
  display: flex;
  flex-direction: column;
  flex: auto;
}
.city__name-native {
  color: var(--primary-light);
  font: normal 1.2rem "Lora", serif;
}
.city__location {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  position: relative;
  text-align: right;
}
.city__location .modal {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid var(--default-border);
  background-color: var(--base-bgr);
  color: var(--font-main);
  border: none;
  bottom: -0.5rem;
  display: block;
  height: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  position: absolute;
  right: 0;
  text-align: center;
  text-overflow: ellipsis;
  transform: translateY(100%) scale(0.8);
  width: 0;
  width: 100%;
  z-index: 1;
}
.city__location .modal--active {
  height: auto;
  width: auto;
  animation: scale 0.2s ease-out forwards;
}
@keyframes scale {
  100% {
    transform: translateY(100%) scale(1);
  }
}
.city__location .modal__header {
  background-color: var(--primary);
  border-radius: 5px 5px 0 0;
  color: var(--font-contrast);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.city__location .modal__title {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  padding: 0 0.5rem;
}
.city__location .modal__close-button {
  color: inherit;
  display: inline-block;
  vertical-align: bottom;
}
.city__location .modal__content {
  border: 1px solid var(--default-border);
  font-size: 1rem;
  font-weight: normal;
  padding: 1.5rem;
}
.city__location-marker {
  color: var(--secondary-dark);
  cursor: pointer;
  text-underline-offset: 1px;
  display: inline-block;
  margin: 0 0.2rem;
  transition: transform 0.3s ease-in;
}
.city__location-marker:hover {
  color: var(--secondary);
}
.city__location-marker:active {
  filter: opacity(0.8);
}
.city__location-marker:hover {
  transform: scale(1.3);
}
.city__location-marker i {
  font-size: 1.3rem;
}
.city__coords {
  background-color: lemonchiffon;
  border: 1px solid #999;
  color: black;
  font: normal 0.9rem "Courier new", monospace;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.3rem;
  white-space: nowrap;
}
.city__coords p {
  margin: 0;
}
.city__info {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid var(--default-border);
  background-color: var(--base-bgr);
  color: var(--font-main);
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 1rem;
  text-align: left;
  flex-grow: 1;
}
.city__info dl {
  margin: 0;
}
.city__info dt {
  font-weight: 500;
}
.city__info dd {
  padding-right: 0.5rem;
}
.city__info dt,
.city__info dd {
  display: inline-block;
  margin: 0;
  margin-bottom: 1rem;
}
.city__landmarks dt {
  margin-bottom: 0.5rem;
}
.city__landmarks dd {
  display: block;
  padding-right: 0;
}
.city__landmarks-list {
  list-style: none;
  padding: 0;
}
.city__landmarks li {
  align-items: flex-start;
  display: flex;
  padding: 0.3rem;
}
.city__landmarks .marker-star {
  color: var(--secondary-dark);
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
}
.city__landmarks .marker-star--active {
  animation: rotate 1.5s ease-in-out;
}
@keyframes rotate {
  15%, 85% {
    color: gold;
  }
  50% {
    transform: rotate(180deg);
  }
}

/*# sourceMappingURL=style.css.map */
